body{
	text-align: center;
}
.navbar-dark .navbar-brand {
    color: #fff;
    text-align: center;
}
.pink-header{
	background-color: #EB6864;
	padding: 20px;
}

.pink-header h4{
	color: white;
	font-size: 38px;
}

.navbar{
	font-size: 38px;
}
.fa{
	color: white;
	font-size: 50px;
}
.form-group{
	padding-top: 50px;
}
.form-control{
	width: 50%;
}
a{
	color: white;
}