<html>
  <center>
  <h1>How Much Should I Trust This News Article?</h1>
  <br>
  <p>Sentiment Analysis of a News Article using Google Cloud Platform</p>

    <style>
    body{margin:0;padding:0;background:#FFFFFF;font-family:Arial, Helvetica, sans-serif;font-size:15px;color:#555;}
    h1, h2, h3{margin:0;padding:0;font-weight:normal;color:#555;}
    h1{font-size:3.5em;}
    h2{font-size:2.4em;}
    h3{font-size:1.6em;}
    p, ul, ol{margin-top:0;line-height:180%;}
    a{text-decoration:underline;color:#FF2929;}
  </style>
  <body>
    <form action="run_language" method="POST" enctype="multipart/form-data">
      Paste news content: <input type="text" name="text"><br>
      <input type="submit" name="submit" value="Submit">
    </form>


    {% if sentiment %}
      <h2>Inputted Text:</h2>
      <p>{{text}}</p>
      <br>
      <h2>Entity Detection:</h2>
      <!--
	{% for entity in entities %}
        <p><b>Name:</b> {{ entity.name }}</p>
        <p><b>Salience:</b> {{ entity.salience }}</p>
        {% if entity.metadata['wikipedia_url'] %}
          <p><a href="{{entity.metadata['wikipedia_url']}}">{{ entity.metadata['wikipedia_url'] }}</a></p>
        {% endif %}
        <br>
      {% endfor %} -->
      <h2>Sentiment Analysis:</h2>
        <p><b>Magnitude:</b> {{ sentiment.magnitude }}</p>
        <p><b>Score:</b> {{ sentiment.score }}</p>
      <br>
    {% endif %}
  </body>
  </center>
</html> 
